<app-loader [loaderState]="loaderState"></app-loader>
<header>
    <app-header [activeView]="activeView" (changeView)="changeView($event)"></app-header>
</header>
<main class="container">
    <section *ngIf="singleUser" id="userHeader">
        <p>Bienvenue sur votre tableau de bord <strong>{{singleUser.name}}</strong></p>
    </section>

    <app-feed-form *ngIf="singleUser" [singleUser]="singleUser" (sendFeedData)="addNewFeed($event)" ></app-feed-form>

    <section *ngIf="feedCollection">
        <app-single-feed *ngFor="let item of feedCollection" [item]="item" (deleteFeed)="deleteFeed($event)"></app-single-feed>
    </section>

</main>